---
layout:default
---

<!DOCTYPE html>
<html>
	<head>
		<meta charset="uft-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>{{ page.title }} - {{site.title}}</title>
	</head>

	<body>
		<header>	
			<a href="https://github.com/AlexanderTsuetaki/AlexanderTsuetaki.github.io/1-index.md">Home</a>
			<a href="https://github.com/AlexanderTsuetaki/AlexanderTsuetaki.github.io/2-about_me.md">About Me</a>
			<a href="https://github.com/AlexanderTsuetaki/AlexanderTsuetaki.github.io/3-projects.md">Projects</a>
		</header>
		{{ content }}
	</body>
</html>

